DirectoryIndex index.php
Options -Indexes
RewriteEngine On

# If not a real file or directory, route to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]